SWIFT_VERSION = 5.0
IPHONEOS_DEPLOYMENT_TARGET = 17.0
CODE_SIGNING_ALLOWED = NO
CODE_SIGNING_REQUIRED = NO
CODE_SIGN_STYLE = Manual

PRODUCT_BUNDLE_IDENTIFIER = com.bizizmir.IzmirDatas
PRODUCT_NAME = IzmirDatas
MARKETING_VERSION = 0.1.0
CURRENT_PROJECT_VERSION = 1

ENABLE_TESTABILITY = YES
SWIFT_TREAT_WARNINGS_AS_ERRORS = YES
